<% layout("layouts/boilerplate") %>
<!-- justify-content-center -> centers all columns horizontally -->
<div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 mt-3 mb-3 text-center">
        <h3> <%= listing.title %> </h3>
    </div>
    
    <div class="col-lg-6 col-md-10">
        <div class="card listing-card">
            <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing image">
            <div class="card-body">

                <p class="text-muted small mb-2">
                    <%= listing.location %>, <%= listing.country %>
                </p>

                <p class="card-text mb-3">
                    <%= listing.description %>
                </p>

                <h6 class="mb-3">
                    ₹ <%= listing.price.toLocaleString("en-IN") %> / night
                </h6>

                <div class="btns d-flex gap-3">
                    <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark edit-btn">Edit</a>   
                    <form action="/listings/<%= listing._id %>?_method=DELETE" method="post">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <hr>
            <h4>Leave a Review</h4>
            <form action="/listings/<%= listing._id %>/review" method="post" class="needs-validation" novalidate> 
                <div class="mb-3 mt-3">
                    <label for="range4" class="form-label">Rating</label>
                    <input type="range" name="review[rating]" min="1" max="5" id="range4" class="form-range">
                    <output for="range4" id="rangeValue" aria-hidden="true"></output>
                </div>
                <div class="mb-3 mt-3">
                    <label for="comment" class="form-label">Comments</label>
                    <textarea name="review[comment]" id="comment" class="form-control" required></textarea>
                    <div class="invalid-feedback"> Please add some comments for review. </div>
                </div>
                <button class="btn btn-outline-danger">Submit</button>
            </form>
        </div>
        
        <hr>
        <p><b>All Reviews</b></p>
        <% if(listing.reviews.length > 0){ %>
        <p class="text-muted">
            Avg Rating:
            <b>
            <%= (
                listing.reviews.reduce((sum, r) => sum + r.rating, 0) 
                / listing.reviews.length
            ).toFixed(1) %> ⭐
            </b>
        </p>
        <% } %>

        <% if(!listing.reviews || listing.reviews.length === 0){ %>
            <p class="text-muted">No reviews yet. Be the first to review ⭐</p>
        <% } %>


        <div class="row">
            <% for(review of listing.reviews){ %>
            <div class="card col-md-5 col-10 me-4 mb-3 review-card">
                <div class="card-body">
                    <h5 class="card-title text-muted">Guest</h5>
                    <p class="card-text"><%= review.comment %></p>
                    <p class="card-text text-warning">⭐ <%= review.rating %> / 5 Stars</p>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>